<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>EventBus.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>EFD56E6725B6DFF6009F1A61</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>EFD56E7D25B6DFF8009F1A61</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>EFD56E8825B6DFF8009F1A61</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
